*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-family: "Alice", serif;
  line-height: 150%;
  font-weight: 300;
  color: #573A37;
}
body{
  background-image: url(assets/bg.jpg);
  background-size: cover;
  padding-bottom: 48px;
}

#page{
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  padding-bottom: 48px;
  margin-bottom: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 48px;
}

main img{
  border-radius: 16px;
  margin-bottom: 24px;
}

#main p + p{
  margin-top: 12px;
}

section + section {
  margin-top: 24px;
}

h1{
  line-height: 140%;
  color: #291B1A;
  font-size: 40px;
  margin-bottom: 4px;
}

h2{
  font-size: 24px;
   color: #291B1A;
   margin-bottom: 4px;
   line-height: 150%;
}

section{
  padding-left: 24px;
  padding-right: 24px;
}

footer{
  text-align: center;
  font-size: 16px;
  color: #F0E8C2;
}

ul{
  padding-left: 24px;
}

footer img{
  align-items: center;
  vertical-align: middle;
}